.nav-item:hover{
    border-bottom: 2px solid #999999;

    .nav-link{
        animation: bounceIn;
        animation-duration: 1s;
    }
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
}
.carousel {
    img {
        height: 50vh;
    }
}


.line {
    margin: auto;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hotArticle-img{
    a{
        text-decoration: none;
        color: #f3f3f3;
    }
}
#latestArticle{
    .top10{
        height: 60px;
        align-items: center;
        display: flex;

    }
    .top10-item{
        border-left: 1px solid #999 ;
    }
    .top10:hover{
        background: #9fcdff;
    }

    a{
        align-items: center;
        text-decoration: none;
    }
}

.article-body{
 border-right: 1px solid #999999;
    background: #333333;

}
.img-size{
    max-height: 150px;
}
.border-round{
    border: 1px solid #999999;
    border-radius: 5px;
}
.btn-size{
    display: flex;
    height: 40px;
}

footer{
    h1{
        color: #d02d1e;
    }
    .main-footer{
        overflow-scrolling: auto;
        display: flex;
        height: 100px;
        background:#333;
        bottom: 0;
    }
}
.justify-center{
    display: flex;
    height: 80vh;
    justify-content: center;
}
