.nav-item:hover {
  border-bottom: 2px solid #999999;
}

.nav-item:hover .nav-link {
  -webkit-animation: bounceIn;
          animation: bounceIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.carousel img {
  height: 50vh;
}

.line {
  margin: auto;
  border-bottom: 1px solid #333;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hotArticle-img a {
  text-decoration: none;
  color: #f3f3f3;
}

#latestArticle .top10 {
  height: 60px;
  align-items: center;
  display: flex;
}

#latestArticle .top10-item {
  border-left: 1px solid #999;
}

#latestArticle .top10:hover {
  background: #9fcdff;
}

#latestArticle a {
  align-items: center;
  text-decoration: none;
}

.article-body {
  border-right: 1px solid #999999;
  background: #333333;
}

.img-size {
  max-height: 150px;
}

.border-round {
  border: 1px solid #999999;
  border-radius: 5px;
}

.btn-size {
  display: flex;
  height: 40px;
}

footer h1 {
  color: #d02d1e;
}

footer .main-footer {
  overflow-scrolling: auto;
  display: flex;
  height: 100px;
  background: #333;
  bottom: 0;
}

.justify-center {
  display: flex;
  height: 80vh;
  justify-content: center;
}

.overlay {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.content {
  display: flex;
  bottom: 40px;
  position: absolute;
  width: 100%;
  color: #f1f1f1;
  justify-content: center;
  align-items: center;
}

.grid {
  grid-template-areas: "main-box main-box main-box" "sidebox";
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3fr, 1fr;
}

.grid img {
  width: 200px;
}

.grid .main-box {
  grid-column: 1/3;
  grid-row: 1/4;
}

.grid .main-box .inside-box {
  align-items: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1.8fr 0.5fr 1fr;
}

.grid .side-box {
  display: grid;
  grid-column: 3;
  grid-row: 1/2;
}

