.nav-item:hover {
  border-bottom: 2px solid #999999;
}

.nav-item:hover .nav-link {
  -webkit-animation: bounceIn;
          animation: bounceIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.carousel img {
  height: 60vh;
}

.line {
  margin: auto;
  border-bottom: 1px solid #333;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hotArticle-img a {
  text-decoration: none;
  color: #f3f3f3;
}

#latestArticle .top10 {
  height: 60px;
  align-items: center;
  display: flex;
}

#latestArticle .top10-item {
  border-left: 1px solid #999;
}

#latestArticle .top10:hover {
  background: #9fcdff;
}

#latestArticle a {
  align-items: center;
  text-decoration: none;
}

